body {
  background: black;
  
}

.menu li {
  color: gold;
  display: inline;
  padding-right: 190px;
}

.menu ul {
 padding-left: 80px;
 
}

#myparagraph {
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: gold;
}

.class1 {
  text-align: center;
  color: gold;
  font-size: 24px;
}

.class2 {
  text-align: center;
  color: blue;
  font-size: 22px;
}

.class3 {
  text-align: center;
  color: red;
  font-size: 20px;
}

.class4 {
  text-align: center;
  color: purple;
  font-size: 18px;
}

.class5 {
  text-align: center;
  color: brown;
  font-style: oblique;
  font-size: 16px;
}

.class6 {
  text-align: center;
  color: gold;
  font-style: italic;
  border: 5px solid gold;
}

.class7 {
text-align: center;
  color: green;
  font-style: italic;
  font-size: 14px;

}

#myotherparagraph {
  color: gold;
  font-size: 24px;
  border: 5px solid gold;
  border-color: gold;
  text-indent: 15px;
}

#myotherotherparagraph {
  font-size: 22px;
  text-align: center;
  
}

#myotherotherparagraph a {
  color: gold;
}

#myotherparagraph + img {
  width: 500px;
  margin-left: 300px;
  border: 5px solid gold;
  
}

.class8 {
  border-style: solid;
  border-color: gold;
}

#yetanotherparagraph {
  color: gold;
  font-size: 20px
  
}